<!doctype html>
<html ng-app="Demo" ng-controller="DemoController">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="components.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="css/application.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/checkout.css"/>
</head>
<body>

<!--<form class="form-horizontal">-->
    <!--<div class="group" data-ng-repeat="groups in group_array"  >-->
        <!--<div class="control-group" data-ng-repeat="field in groups.group" ng-switch on="field.type">-->
            <!--<div><div class="group_name">{{field.groupName}}</div></div>-->
            <!--<label class="control-label">{{field.title}}</label>-->
            <!--<div class="controls" ng-switch-when="input">-->
                <!--<input type="text" placeholder="{{field.value}}">-->
            <!--</div>-->
            <!--<div class="controls" ng-switch-when="select">-->
                <!--<select><option>{{field.value}}</option></select>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->

<!--<div ng-app="quest">-->
    <!--<h3 ng-click="visibility = !visibility">{{visibility}}</h3>-->
    <!--<div show-checkmark-on-done number="1" type="0"></div>-->
<!--</div>-->

<!--<div ng-class="{true:'enabled', false:'disabled', '':'hidden'}[test=='YES' && test2=='No']">TESTT{{test}}</div>-->

<!--<radio-check-item nam="testt"></radio-check-item>-->

<!--<radio-check-itemm nam="testt"></radio-check-itemm>-->
<!--<select ng-model="select[0]" ng-options="v as o for (o,v) in obj"><option value="">Select</option></select>-->

<payza-form></payza-form>



<!--<radio-check-field></radio-check-field>-->
<!--<radio-check-item></radio-check-item>-->


</body>
</html>