<div>
   <div class="row">
    <div class="country-block">
        <h2 class="ng-binding">Open your Payza account from</h2>
        <div class="country-field"><span class="flag-icon big_ca">Canada</span></div>
    </div>

    <div class="account-selection">

        <div class="col-sm-6">
            <div class="header">
                <a class="personal">Personal</a>
            </div>
            <div class="body">
                <p>Safe and easy.<br>Shop online without worries.</p>
                <a class="btn btn-info" data-ng-click="currentStep='signupForPersonal';scrollTop();">Open a Personal account</a>
                <!--<a class="btn btn-info" href='../../SignupRedesign/AccountOverview.aspx?completeProfileVisibility=signupForPersonal'>Open a Personal account</a>-->                
            </div>
            <div class="footer">
                <p>UNIQUE FEATURES</p>
                <ul>
                    <li>Some text item seres 1</li>
                    <li>Some text  2</li>
                    <li>Some text item ff 3</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="header">
                <a class="business">Business</a>
            </div>
            <div class="body">
                <p>Safe and easy.<br>Shop online without worries.</p>
                <a class="btn btn-info">Open a Business account</a>
            </div>
            <div class="footer">
                <p>UNIQUE FEATURES</p>
                <ul>
                    <li>Some text 1</li>
                    <li>Some text item df 2</li>
                    <li>Some text item dg 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="starter">
        <div class="col-sm-12">
            <span>Can’t decide which account to open?</span>
            <a>Try a Starter account</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="fees-and-limits">
        <div class="col-sm-12">
             <div id="fees-and-limits-table" data-ng-init="hideElements('#fees-and-limits-table')">
                <table class="table table-striped table-condensed"  cellspacing="0" style="border-collapse:collapse;" >
                    <tbody>
                        <tr>
                            <th>Send and receive funds</th>
                            <th style="width:175px">Starter</th>
                            <th style="width:175px">Personal</th>
                            <th style="width:175px">Business</th>
                        </tr>
                        <tr>
                            <td>Open an account</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                       </tr>
                       <tr>
                            <td>Send funds</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                       </tr>
                        <tr class="last-row">
                            <td>Receive funds</td>
                            <td class="free">Free</td>
                            <td>2.50 % + $0.25 CAD</td>
                            <td>2.50 % + $0.25 CAD</td>
                       </tr>

                       <tr>
                            <th colspan="4">Add funds to your E-Wallet by</th>
                        </tr>
                        <tr>
                            <td>Credit card</td>
                            <td>3.50%</td>
                            <td>3.50%</td>
                            <td>3.50%</td>
                       </tr>
                       <tr class="reference">
                            <td>CREDIT CARD DEPOSIT LIMITS*</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                       </tr>
                        <tr class="light-grey">
                            <td>Bank transfer</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                       </tr>
                       <tr class="reference grey-bkgr">
                            <td>BANK TRANSFER CARD DEPOSIT LIMITS*</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                       </tr>
                       <tr>
                            <td>Prepaid card</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                       </tr>
                       <tr class="reference">
                            <td>BANK TRANSFER CARD DEPOSIT LIMITS*</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                       </tr>
                       <tr class="light-grey">
                            <td>Money order</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                            <td class="free">Free</td>
                       </tr>
                       <tr class="reference grey-bkgr last-row">
                            <td>MONEY ORDER*</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                            <td>$1,000.00</td>
                       </tr>

                       <tr class="last-row-with-buttons last-row">
                            <td></td>
                            <td><a href="/SignupRedesign/verification/Overview.aspx" class="btn btn-info">Starter account</a></td>
                            <td><a href="/SignupRedesign/verification/Overview.aspx" class="btn btn-info">Personal account</a></td>
                            <td><a href="/SignupRedesign/verification/Overview.aspx" class="btn btn-info">Business account</a></td>
                       </tr>
                       <tr class="remark">
                            <td colspan="4">                               
                                    * Starter accounts pay no receiving fees on up to $400 USD or equivalent/month or $2,000 USD.</br>
                                    ** Limits are for validated accounts. Prices for limits are listed in USD.</br>
                                    Note: Higher fees apply to some industries: 3.90 % + $0.59 CAD for receiving funds.</br>
                                    Last Update</br>
                                    11 January 2014</br>
                            </td>
                       </tr>

                    </tbody>

                </table>

          </div>
          <div class="show-hide" data-ng-init="feesAndLimitsTableVisibility=false" data-ng-click="feesAndLimitsTableVisibility=!feesAndLimitsTableVisibility;feesAndLimitsTableVisibility?slideDownAnimation('#fees-and-limits-table'):slideUpAnimation('#fees-and-limits-table')">
                <div class="patch"></div>
                <a data-ng-class="{'flip-vert':feesAndLimitsTableVisibility}" data-ng-bind-html="feesAndLimitsTableVisibility?'Close fees and limits':'View fees and limits'"></a>
          </div>
        </div>
    </div>
</div>
<div class="row grey-bkgr">
    <div class="what-people-saying">
 
          <div class="heading autor">
                <span>HERE’S WHAT PEOPLE, JUST LIKE YOU, ARE SAYING</span>
          </div>


          <div class="col-sm-4">
                <div class="quote first">
                    <p>
                        Here’s what people, just like you, are saying. Here’s what people, just like you, are saying.
                    </p>
                    <div class="autor">
                        Mariot Alquisa
                    </div>
                </div>
          </div>
           <div class="col-sm-4">
                <div class="quote">
                    <p>
                        Here’s what people, just like you, are saying. Here’s what people, just like you, are saying.
                    </p>
                    <div class="autor">
                        Mariot Alquisa
                    </div>
                </div>
          </div>
          <div class="col-sm-4">
                <div class="quote last">
                    <p>
                        Here’s what people, just like you, are saying. Here’s what people, just like you, are saying.
                    </p>
                    <div class="autor">
                        Mariot Alquisa
                    </div>
                </div>
          </div>
    </div>
</div>

<div class="row">
<div id="footer">
<div class="footer-content">
    <div class="footer-column">
        <h2>About Payza</h2>
        <ul>
            <li><a href="/about-payza/payzas-vision-and-mission">Vision and Mission</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/about-payza/payza-careers">Careers</a></li>
            <li class="not-available-in-french"><a href="/about-us/customer-testimonials">Customer Testimonials</a></li>
            <li class="not-available-in-french"><a href="/about-us/merchant-testimonials">Merchant Testimonials</a></li>
            <li class="not-available-in-french"><a href="/about-us/media">Media</a></li>
        </ul>
        <h2>Support</h2>
        <ul>
            <li><a href="http://helpdesk.payza.com/" target="_blank" rel="external">FAQs</a></li>
            <li><a href="/support/payza-transaction-fees">Fees</a></li>
            
            <li><a href="/support">Contact us</a></li>            
        </ul>
    </div>
    <div class="footer-column">
        <h2>Features</h2>
        <ul>
            <li class="not-available-in-french"><a href="/how-payza-works">How Payza Works</a></li>
            <li class="not-available-in-french"><a href="/features/payza-prepaid-card">Payza Prepaid Card</a></li>
            <li><a href="/features/add-funds-and-withdraw">Add Funds and Withdraw</a></li>
            <li><a href="/features/secure-online-payments">Secure Online Payments</a></li>
            <li><a href="/features/send-money">Send Funds</a></li>
            <li class="not-available-in-french"><a href="/features/SimplySendBD">SimplySendBD</a></li>
            <li><a href="/features/centralized-management">Centralized Management</a></li>
            <li><a href="/features/corporate-disbursements">Corporate Disbursements</a></li>
            <li><a href="/features/request-funds">Request Funds</a></li>
            <li><a href="/features/local-payment-options">Local Payment Options</a></li>
            <li><a href="/features/available-currencies">Available Currencies</a></li>
            <li><a href="/features/referral-program">Referral Program</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h2>Legal Agreements</h2>
        <ul>
            <li><a href="/legal-agreements/payza-terms-and-conditions">Terms &amp; Conditions</a></li>
            <li><a href="/legal-agreements/online-privacy">Online Privacy Policy</a></li>
            <li><a href="/legal-agreements/payza-infringement-policy">Infringement Policy</a></li>
            <li><a href="/support/formal-complaint">Formal Complaint</a></li>
        </ul>
        <h2>Developers</h2>
        <ul>
            <li><a href="https://dev.payza.com/" target="_blank" rel="external">Developer Center</a></li>
            <li><a href="https://sandbox.payza.com/center/Login.aspx" target="_blank" rel="external">Sandbox</a></li>
            <li><a href="/features/shopping-cart-integration">Shopping Carts</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h2>Security</h2>
        <ul>
            <li><a href="/security">Security Center</a></li>
            <li><a href="/security/payza-fraud-prevention">Fraud Prevention</a></li>
            <li><a href="/security/buyer-protection">Buyer Protection</a></li>
            <li><a href="/security/merchant-protection">Merchant Protection</a></li>
        </ul>
        <h2>Follow us</h2>
        <ul class="social-media">
            <li><a href="http://blog.payza.com/" target="_blank" rel="external"><span class="icon blog">
            </span>Blog</a></li>
            <li><a href="https://twitter.com/#!/payzaofficial" target="_blank" rel="external"><span class="icon twitter"></span>Twitter</a></li>
            <li><a href="http://www.facebook.com/payzaglobal" target="_blank" rel="external"><span class="icon facebook"></span>Facebook</a></li>
            <li><a href="https://plus.google.com/109202485124494535449/posts" target="_blank" rel="external"><span class="icon google-plus"></span>Google+</a></li>
            <li><a href="http://pinterest.com/Payza/" target="_blank" rel="external"><span class="icon pinterest"></span>Pinterest</a></li>
            <li><a href="http://www.linkedin.com/company/payza" target="_blank" rel="external"><span class="icon linkedin"></span>LinkedIn</a></li>
        </ul>
    </div>
</div>
<div class="copyright-credentials">
    <p class="copyright">
        Copyright ©        
        2014
        Payza. All rights reserved.
    </p>
    <address class="copyright-address">
Registered in the United Kingdom as MH Pillars Ltd., 3 More London Place, London, SE1 2RE, UK<br>
    </address>
    <div class="credentials">
        <ul>
<%--            <li class="trustwave">
                <script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?style=invert"></script><img id="trustwaveSealImage" src="https://sealserver.trustwave.com/seal_image.php?customerId=&amp;size=105x54&amp;style=invert" border="0" style="cursor:pointer;" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=&amp;size=105x54&amp;style=invert&amp;baseURL=www.payza.com', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site protected by Trustwave's Trusted Commerce program" title="This site protected by Trustwave's Trusted Commerce program">
            </li>--%>
            <li class="truste" id="abe34407-81fe-47d2-b4b4-8c88cc8f230b"> <script type="text/javascript" src="//privacy-policy.truste.com/privacy-seal/MH-Pillars-Ltd-/asc?rid=abe34407-81fe-47d2-b4b4-8c88cc8f230b"></script><a href="//privacy.truste.com/privacy-seal/MH-Pillars-Ltd-/validation?rid=75ef5eeb-e40d-455b-9cae-371e273a01b9" title="TRUSTe online privacy certification" target="_blank"><img style="border: none" src="//privacy-policy.truste.com/privacy-seal/MH-Pillars-Ltd-/seal?rid=75ef5eeb-e40d-455b-9cae-371e273a01b9" alt="TRUSTe online privacy certification"></a></li>            
        </ul>
    </div>
</div>
</div>
</div>