<div>

    <h4><i>Page with full info</i></h4>

    <h2 ng-bind-html-unsafe="textWithTags(menu.title)"></h2>

    <h4 ng-bind-html-unsafe="textWithTags(menu.content)"></h4>

</div>


<!--
<div>


<h4><i>Single page with full news</i></h4>

<h2 ng-bind-html-unsafe="textWithTags(items[selected_id].title)"></h2>

<p ng-bind-html-unsafe="textWithTags(items[selected_id].content)"></p>

</div>

<div>

<h4><i>Single page with <b>{[params|delete]}</b> info</i></h4>

        <h6><i>Single page with <b>{[menu.title]}</b> info</i></h6>

        <h2 ng-bind-html-unsafe="textWithTags(menu.title)"></h2>


        <h4 ng-bind-html-unsafe="textWithTags(menu.content)"></h4>


    </div>

-->

