.flag-ad {
        background-position: 0 0;
}
.flag-ae {
        background-position: -45px 0;
}
.flag-af {
        background-position: -90px 0;
}
.flag-ag {
        background-position: -135px 0;
}
.flag-ai {
        background-position: -180px 0;
}
.flag-al {
        background-position: -225px 0;
}
.flag-am {
        background-position: -270px 0;
}
.flag-an {
        background-position: 0 -20px;
}
.flag-ao {
        background-position: -45px -20px;
}
.flag-aq {
        background-position: -90px -20px;
}
.flag-ar {
        background-position: -135px -20px;
}
.flag-as {
        background-position: -180px -20px;
}
.flag-at {
        background-position: -225px -20px;
}
.flag-au {
        background-position: -270px -20px;
}
.flag-aw {
        background-position: 0 -40px;
}
.flag-ax {
        background-position: -45px -40px;
}
.flag-az {
        background-position: -90px -40px;
}
.flag-ba {
        background-position: -135px -40px;
}
.flag-bb {
        background-position: -180px -40px;
}
.flag-bd {
        background-position: -225px -40px;
}
.flag-be {
        background-position: -270px -40px;
}
.flag-bf {
        background-position: 0 -60px;
}
.flag-bg {
        background-position: -45px -60px;
}
.flag-bh {
        background-position: -90px -60px;
}
.flag-bi {
        background-position: -135px -60px;
}
.flag-bj {
        background-position: -180px -60px;
}
.flag-bm {
        background-position: -225px -60px;
}
.flag-bn {
        background-position: -270px -60px;
}
.flag-bo {
        background-position: 0 -80px;
}
.flag-br {
        background-position: -45px -80px;
}
.flag-bs {
        background-position: -90px -80px;
}
.flag-bt {
        background-position: -135px -80px;
}
.flag-bv {
        background-position: -180px -80px;
}
.flag-bw {
        background-position: -225px -80px;
}
.flag-by {
        background-position: -270px -80px;
}
.flag-bz {
        background-position: 0 -100px;
}
.flag-ca {
        background-position: -45px -100px;
}
.flag-catalonia {
        background-position: -90px -100px;
}
.flag-cc {
        background-position: -135px -100px;
}
.flag-cd {
        background-position: -180px -100px;
}
.flag-cf {
        background-position: -225px -100px;
}
.flag-cg {
        background-position: -270px -100px;
}
.flag-ch {
        background-position: 0 -120px;
}
.flag-ci {
        background-position: -45px -120px;
}
.flag-ck {
        background-position: -90px -120px;
}
.flag-cl {
        background-position: -135px -120px;
}
.flag-cm {
        background-position: -180px -120px;
}
.flag-cn {
        background-position: -225px -120px;
}
.flag-co {
        background-position: -270px -120px;
}
.flag-cr {
        background-position: 0 -140px;
}
.flag-cs {
        background-position: -45px -140px;
}
.flag-cu {
        background-position: -90px -140px;
}
.flag-cv {
        background-position: -135px -140px;
}
.flag-cx {
        background-position: -180px -140px;
}
.flag-cy {
        background-position: -225px -140px;
}
.flag-cz {
        background-position: -270px -140px;
}
.flag-de {
        background-position: 0 -160px;
}
.flag-dj {
        background-position: -45px -160px;
}
.flag-dk {
        background-position: -90px -160px;
}
.flag-dm {
        background-position: -135px -160px;
}
.flag-do {
        background-position: -180px -160px;
}
.flag-dz {
        background-position: -225px -160px;
}
.flag-ec {
        background-position: -270px -160px;
}
.flag-ee {
        background-position: 0 -180px;
}
.flag-eg {
        background-position: -45px -180px;
}
.flag-eh {
        background-position: -90px -180px;
}
.flag-england {
        background-position: -135px -180px;
}
.flag-er {
        background-position: -180px -180px;
}
.flag-es {
        background-position: -225px -180px;
}
.flag-et {
        background-position: -270px -180px;
}
.flag-eu {
        background-position: 0 -200px;
}
.flag-europeanunion {
        background-position: -45px -200px;
}
.flag-fi {
        background-position: -90px -200px;
}
.flag-fj {
        background-position: -135px -200px;
}
.flag-fk {
        background-position: -180px -200px;
}
.flag-fm {
        background-position: -225px -200px;
}
.flag-fo {
        background-position: -270px -200px;
}
.flag-fr {
        background-position: 0 -220px;
}
.flag-ga {
        background-position: -45px -220px;
}
.flag-gb {
        background-position: -90px -220px;
}
.flag-gd {
        background-position: -135px -220px;
}
.flag-ge {
        background-position: -180px -220px;
}
.flag-gf {
        background-position: -225px -220px;
}
.flag-gg {
        background-position: -270px -220px;
}
.flag-gh {
        background-position: 0 -240px;
}
.flag-gi {
        background-position: -45px -240px;
}
.flag-gl {
        background-position: -90px -240px;
}
.flag-gm {
        background-position: -135px -240px;
}
.flag-gn {
        background-position: -180px -240px;
}
.flag-gp {
        background-position: -225px -240px;
}
.flag-gq {
        background-position: -270px -240px;
}
.flag-gr {
        background-position: 0 -260px;
}
.flag-gs {
        background-position: -45px -260px;
}
.flag-gt {
        background-position: -90px -260px;
}
.flag-gu {
        background-position: -135px -260px;
}
.flag-gw {
        background-position: -180px -260px;
}
.flag-gy {
        background-position: -225px -260px;
}
.flag-hk {
        background-position: -270px -260px;
}
.flag-hm {
        background-position: 0 -280px;
}
.flag-hn {
        background-position: -45px -280px;
}
.flag-hr {
        background-position: -90px -280px;
}
.flag-ht {
        background-position: -135px -280px;
}
.flag-hu {
        background-position: -180px -280px;
}
.flag-id {
        background-position: -225px -280px;
}
.flag-ie {
        background-position: -270px -280px;
}
.flag-il {
        background-position: 0 -300px;
}
.flag-in {
        background-position: -45px -300px;
}
.flag-io {
        background-position: -90px -300px;
}
.flag-iq {
        background-position: -135px -300px;
}
.flag-ir {
        background-position: -180px -300px;
}
.flag-is {
        background-position: -225px -300px;
}
.flag-it {
        background-position: -270px -300px;
}
.flag-jm {
        background-position: 0 -320px;
}
.flag-jo {
        background-position: -45px -320px;
}
.flag-jp {
        background-position: -90px -320px;
}
.flag-ke {
        background-position: -135px -320px;
}
.flag-kg {
        background-position: -180px -320px;
}
.flag-kh {
        background-position: -225px -320px;
}
.flag-ki {
        background-position: -270px -320px;
}
.flag-km {
        background-position: 0 -340px;
}
.flag-kn {
        background-position: -45px -340px;
}
.flag-ko {
        background-position: -90px -340px;
}
.flag-kp {
        background-position: -135px -340px;
}
.flag-kr {
        background-position: -180px -340px;
}
.flag-kw {
        background-position: -225px -340px;
}
.flag-ky {
        background-position: -270px -340px;
}
.flag-kz {
        background-position: 0 -360px;
}
.flag-la {
        background-position: -45px -360px;
}
.flag-lb {
        background-position: -90px -360px;
}
.flag-lc {
        background-position: -135px -360px;
}
.flag-li {
        background-position: -180px -360px;
}
.flag-lk {
        background-position: -225px -360px;
}
.flag-lr {
        background-position: -270px -360px;
}
.flag-ls {
        background-position: 0 -380px;
}
.flag-lt {
        background-position: -45px -380px;
}
.flag-lu {
        background-position: -90px -380px;
}
.flag-lv {
        background-position: -135px -380px;
}
.flag-ly {
        background-position: -180px -380px;
}
.flag-ma {
        background-position: -225px -380px;
}
.flag-mc {
        background-position: -270px -380px;
}
.flag-md {
        background-position: 0 -400px;
}
.flag-me {
        background-position: -45px -400px;
}
.flag-mg {
        background-position: -90px -400px;
}
.flag-mh {
        background-position: -135px -400px;
}
.flag-mk {
        background-position: -180px -400px;
}
.flag-ml {
        background-position: -225px -400px;
}
.flag-mm {
        background-position: -270px -400px;
}
.flag-mn {
        background-position: 0 -420px;
}
.flag-mo {
        background-position: -45px -420px;
}
.flag-mp {
        background-position: -90px -420px;
}
.flag-mq {
        background-position: -135px -420px;
}
.flag-mr {
        background-position: -180px -420px;
}
.flag-ms {
        background-position: -225px -420px;
}
.flag-mt {
        background-position: -270px -420px;
}
.flag-mu {
        background-position: 0 -440px;
}
.flag-mv {
        background-position: -45px -440px;
}
.flag-mw {
        background-position: -90px -440px;
}
.flag-mx {
        background-position: -135px -440px;
}
.flag-my {
        background-position: -180px -440px;
}
.flag-mz {
        background-position: -225px -440px;
}
.flag-na {
        background-position: -270px -440px;
}
.flag-nc {
        background-position: 0 -460px;
}
.flag-ne {
        background-position: -45px -460px;
}
.flag-nf {
        background-position: -90px -460px;
}
.flag-ng {
        background-position: -135px -460px;
}
.flag-ni {
        background-position: -180px -460px;
}
.flag-nl {
        background-position: -225px -460px;
}
.flag-no {
        background-position: -270px -460px;
}
.flag-np {
        background-position: 0 -480px;
}
.flag-nr {
        background-position: -45px -480px;
}
.flag-nu {
        background-position: -90px -480px;
}
.flag-nz {
        background-position: -135px -480px;
}
.flag-om {
        background-position: -180px -480px;
}
.flag-pa {
        background-position: -225px -480px;
}
.flag-pe {
        background-position: -270px -480px;
}
.flag-pf {
        background-position: 0 -500px;
}
.flag-pg {
        background-position: -45px -500px;
}
.flag-ph {
        background-position: -90px -500px;
}
.flag-pk {
        background-position: -135px -500px;
}
.flag-pl {
        background-position: -180px -500px;
}
.flag-pm {
        background-position: -225px -500px;
}
.flag-pn {
        background-position: -270px -500px;
}
.flag-pr {
        background-position: 0 -520px;
}
.flag-ps {
        background-position: -45px -520px;
}
.flag-pt {
        background-position: -90px -520px;
}
.flag-pw {
        background-position: -135px -520px;
}
.flag-py {
        background-position: -180px -520px;
}
.flag-qa {
        background-position: -225px -520px;
}
.flag-re {
        background-position: -270px -520px;
}
.flag-ro {
        background-position: 0 -540px;
}
.flag-rs {
        background-position: -45px -540px;
}
.flag-ru {
        background-position: -90px -540px;
}
.flag-rw {
        background-position: -135px -540px;
}
.flag-sa {
        background-position: -180px -540px;
}
.flag-sb {
        background-position: -225px -540px;
}
.flag-sc {
        background-position: -270px -540px;
}
.flag-scotland {
        background-position: 0 -560px;
}
.flag-sd {
        background-position: -45px -560px;
}
.flag-se {
        background-position: -90px -560px;
}
.flag-sg {
        background-position: -135px -560px;
}
.flag-sh {
        background-position: -180px -560px;
}
.flag-si {
        background-position: -225px -560px;
}
.flag-sj {
        background-position: -270px -560px;
}
.flag-sk {
        background-position: 0 -580px;
}
.flag-sl {
        background-position: -45px -580px;
}
.flag-sm {
        background-position: -90px -580px;
}
.flag-sn {
        background-position: -135px -580px;
}
.flag-so {
        background-position: -180px -580px;
}
.flag-sr {
        background-position: -225px -580px;
}
.flag-st {
        background-position: -270px -580px;
}
.flag-sv {
        background-position: 0 -600px;
}
.flag-sy {
        background-position: -45px -600px;
}
.flag-sz {
        background-position: -90px -600px;
}
.flag-tc {
        background-position: -135px -600px;
}
.flag-td {
        background-position: -180px -600px;
}
.flag-tf {
        background-position: -225px -600px;
}
.flag-tg {
        background-position: -270px -600px;
}
.flag-th {
        background-position: 0 -620px;
}
.flag-tj {
        background-position: -45px -620px;
}
.flag-tk {
        background-position: -90px -620px;
}
.flag-tl {
        background-position: -135px -620px;
}
.flag-tm {
        background-position: -180px -620px;
}
.flag-tn {
        background-position: -225px -620px;
}
.flag-to {
        background-position: -270px -620px;
}
.flag-tr {
        background-position: 0 -640px;
}
.flag-tt {
        background-position: -45px -640px;
}
.flag-tv {
        background-position: -90px -640px;
}
.flag-tw {
        background-position: -135px -640px;
}
.flag-tz {
        background-position: -180px -640px;
}
.flag-ua {
        background-position: -225px -640px;
}
.flag-ug {
        background-position: -270px -640px;
}
.flag-um {
        background-position: 0 -660px;
}
.flag-us {
        background-position: -45px -660px;
}
.flag-uy {
        background-position: -90px -660px;
}
.flag-uz {
        background-position: -135px -660px;
}
.flag-va {
        background-position: -180px -660px;
}
.flag-vc {
        background-position: -225px -660px;
}
.flag-ve {
        background-position: -270px -660px;
}
.flag-vg {
        background-position: 0 -680px;
}
.flag-vi {
        background-position: -45px -680px;
}
.flag-vn {
        background-position: -90px -680px;
}
.flag-vu {
        background-position: -135px -680px;
}
.flag-wales {
        background-position: -180px -680px;
}
.flag-wf {
        background-position: -225px -680px;
}
.flag-ws {
        background-position: -270px -680px;
}
.flag-ye {
        background-position: 0 -700px;
}
.flag-yt {
        background-position: -45px -700px;
}
.flag-za {
        background-position: -90px -700px;
}
.flag-zm {
        background-position: -135px -700px;
}
.flag-zw {
        background-position: -180px -700px;
}